<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShowColumnKind</key>
	<true/>
	<key>ShowColumnSize</key>
	<true/>
	<key>ShowColumnDateCreated</key>
	<false/>
	<key>ShowColumnDateModified</key>
	<true/>
	<key>ShowColumnDateAccessed</key>
	<false/>
	<key>ShowColumnUserGroup</key>
	<false/>
	<key>ShowColumnPermissions</key>
	<false/>
	<key>ShowColumnUTI</key>
	<false/>
	<key>ShowColumnMIMEType</key>
	<false/>
	<key>ShowColumnFileType</key>
	<false/>
	<key>ShowColumnCreatorType</key>
	<false/>
	<key>ShowPathBar</key>
	<true/>
	<key>StatusItemMode</key>
	<false/>
	<key>SearchMethod</key>
	<string>Automatic</string>
	<key>AuthenticateOnLaunch</key>
	<false/>
	<key>HumanFriendlyDates</key>
	<true/>
	<key>HumanFriendlyFileSize</key>
	<true/>
	<key>HumanFriendlyPermissions</key>
	<true/>
	<key>RememberRecentSearches</key>
	<true/>
	<key>LaunchOnLogin</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>FindItemTypes</key>
	<string>items</string>
	<key>FindNameMatch</key>
	<string>name contains</string>
	<key>FindOnVolume</key>
	<string>/</string>
	<key>CaseSensitive</key>
	<false/>
	<key>SkipPackageContents</key>
	<false/>
	<key>SkipInvisibleFiles</key>
	<false/>
	<key>SkipSystemFolder</key>
	<false/>
	<key>ShowFullPath</key>
	<false/>
	<key>UsePathControl</key>
	<false/>
	<key>FilterCaseSensitive</key>
	<false/>
	<key>FilterRegularExpressions</key>
	<false/>
	<key>FilterAllColumns</key>
	<false/>
</dict>
</plist>
